@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body, span{
	font-family: 'Varela Round', sans-serif;
}

#exhibitorList{
	background: #FFFFFF;
}

#header {
	border-bottom: 1px solid #aaaaff;
	font-size: 18px;
	height: 80px;
	position: fixed;
	width: 100%;
	background: #eeeeff;
}

#content {
	width:100%;
	height: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.padd30 {
	padding : 30px;
}

.txtcenter{
  text-align: center;
  vertical-align: middle;
}

.date {
	padding: 10px;
	border-right: 1px solid #dddddd;
}

.time {
	padding: 10px;
	border-right: 1px solid #dddddd;
}


.dbluebg {
	background: #bbbbdd;
}

.bluebg {
	background: #eeeeff;
}

.dgreybg {
	background: #bbbbbb;
}

.greybg {
	background: #eeeeee;
}

.fixed {
	position: fixed;
}

#timeline-area {
	width:100%;
	bottom: 0px;
}

#footer{
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.fullTable{
	width: 100%;
	border-top: 1px solid #aaaaff;
	background: #eeeeff;
}

.fullTable td{
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #aaaaff;
	padding: 10px;
}

.fullTable .day:hover{
	background: #00FFFF;
	cursor: hand;
}

#timeRange{
	width: 100%;
}

.time {
    background: url(../images/bg_timeline.png) round;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

#time-range p {
    font-family:"Arial", sans-serif;
    font-size:14px;
    color:#333;
}
.ui-slider-horizontal {
    height: 8px;
    background: #D7D7D7;
    border: 1px solid #BABABA;
    box-shadow: 0 1px 0 #FFF, 0 1px 0 #CFCFCF inset;
    clear: both;
    margin: 8px 0;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
}
.ui-slider {
    position: relative;
    text-align: left;
}
.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    height: 100%;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    height: 8px;
    font-size: .7em;
    display: block;
    border: 1px solid #5BA8E1;
    box-shadow: 0 1px 0 #AAD6F6 inset;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px;
    background: #81B8F3;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #A0D4F5), color-stop(100%, #81B8F3));
    background-image: -webkit-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -moz-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: -o-linear-gradient(top, #A0D4F5, #81B8F3);
    background-image: linear-gradient(top, #A0D4F5, #81B8F3);
}
.ui-slider .ui-slider-handle {
    border-radius: 50%;
    background: #F9FBFA;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0, 50% 100%, color-stop(0%, #C7CED6), color-stop(100%, #F9FBFA));
    background-image: -webkit-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -moz-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: -o-linear-gradient(top, #C7CED6, #F9FBFA);
    background-image: linear-gradient(top, #C7CED6, #F9FBFA);
    width: 22px;
    height: 22px;
    -webkit-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -moz-box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.6), 0 -1px 0 1px rgba(0, 0, 0, 0.15) inset, 0 1px 0 1px rgba(255, 255, 255, 0.9) inset;
    -webkit-transition: box-shadow .3s;
    -moz-transition: box-shadow .3s;
    -o-transition: box-shadow .3s;
    transition: box-shadow .3s;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 22px;
    height: 22px;
    cursor: default;
    border: none;
    cursor: pointer;
}
.ui-slider .ui-slider-handle:after {
    content:"";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 50%;
    margin-top: -4px;
    left: 50%;
    margin-left: -4px;
    background: #30A2D2;
    -webkit-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
    -moz-box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 white;
    box-shadow: 0 1px 1px 1px rgba(22, 73, 163, 0.7) inset, 0 1px 0 0 #FFF;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.5em;
    margin-left: -.6em;
}
.ui-slider a:focus {
    outline:none;
}

.hidden{
	display:none;
}

.heatMapObject{
    alpha:0.2;
}

#legend {
    width : 200px;
    height: 150px;
    position: fixed;
    top : 100px;
    right : 10px;
    border: 1px solid #aaaaff;
    background: #eeeeff;
}

.smalltext{
    font-size: 12px;
}

.legendtext {
    font-size: 10px;
}

.full-width{
    width:100%;
}

.control{
    font-size : 28px;
    font-weight: bold;
    padding: 8px;
    cursor: hand;
    color: #6666ff;
    font-family: "Arial";
}

#controls {
    width : 200px;
    position: fixed;
    top : 100px;
    left : 10px;
    border: 1px solid #aaaaff;
    background: #eeeeff;
}


.control:hover{
    background : #ddddff;
}

.border-right{
    border-right: 1px solid #aaaaff;
}

.heading{
    font-weight: bold;
    padding: 10px;
}

.box {
    width: 10px;
    height: 10px;
}

.redbackground {
    background: #FF0000;
}


.greenbackground {
    background: #00FF00;
}

.bluebackground {
    background: #0000FF;
}

.yellowbackground {
    background: #FFA700;
}

.legendlabel {
    font-size: 12px;
    vertical-align: middle;
}

.padd5{
    padding: 5px;
}

.displaybox {
    padding: 10px;
    background: #FFFFE0;
    width: 30px;
    height: 10px;
    position: absolute;
    font-size: 12px;
    border: 1px solid #FFA700;
}

.smallheader {
    font-size: 11px;
}