@import url(https://fonts.googleapis.com/css?family=Varela+Round);

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	font-family: 'Varela Round', sans-serif;
}

#exhibitorList{
	background: #FFFFFF;
}

#header {
	border-bottom: 1px solid #aaaaff;
	font-size: 18px;
	height: 80px;
	position: fixed;
	width: 100%;
	background: #eeeeff;
}

#content {
	width:100%;
	height: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.padd30 {
	padding : 30px;
}

.txtcenter{
  text-align: center;
  vertical-align: middle;
}

.date {
	padding: 10px;
	border-right: 1px solid #dddddd;
}

.time {
	padding: 10px;
	border-right: 1px solid #dddddd;
}


.dbluebg {
	background: #bbbbdd;
}

.bluebg {
	background: #eeeeff;
}

.dgreybg {
	background: #bbbbbb;
}

.greybg {
	background: #eeeeee;
}

.fixed {
	position: fixed;
}

#timeline-area {
	width:100%;
	bottom: 0px;
}

#footer{
	width: 100%;
	position: fixed;
	bottom: 0px;
	left: 0px;
}

.fullTable{
	width: 100%;
	border-top: 1px solid #aaaaff;
	background: #eeeeff;
}

.fullTable td{
	vertical-align: middle;
	text-align: center;
	border-right: 1px solid #aaaaff;
	padding: 10px;
}

.fullTable td:hover{
	background: #00FFFF;
	cursor: hand;
}

#timeRange{
	width: 100%;
}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}